<style>
    .carousel-control.left,
    .carousel-control.right {
        background-image: none !important;
        color: #000000;
    }
    .carousel-inner{
        width: 90%;
        margin-left: 100px;
        margin-right: 100px;
    }

</style>
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron">
            <div class="container">
                <h1 class="col-md-12">Grocery Cloud</h1>
                <p class="col-md-12">Welcome to the most efficient way of purchasing goods online. A whole new world awaits you. </p>
                <p class="col-md-4 col-md-offset-4">
                    <a class="btn btn-primary btn-lg" href="/shopping" role="button">Shop All</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <uib-carousel active="active" interval="vm.slideInterval" no-wrap="vm.slidingDisabled">
                <uib-slide ng-repeat="i in [4,8,12]" index="$index">

                    <div class="col-md-3 text-center">
                        <div class="row">
                            <h4>{{vm.showcaseProducts[i-1].name}}</h4>
                        </div>
                        <div class="row">
                            <a ng-href="/product?name={{vm.showcaseProducts[i-1].name}}">
                                <img class="img-responsive " ng-src="{{vm.showcaseProducts[i-1].imagelink}}" style="width: 250px; margin:0 auto;"
                                    alt="{{vm.showcaseProducts[i-1].name}}" />
                            </a>
                        </div>
                        <div class="row">
                            <h5>
                                {{vm.showcaseProducts[i-1].description}}
                            </h5>
                        </div>

                    </div>
                    <div class="col-md-3 text-center">
                        <div class="row">
                            <h4>{{vm.showcaseProducts[i-2].name}}</h4>
                        </div>
                        <div class="row">
                            <a ng-href="/product?name={{vm.showcaseProducts[i-2].name}}">
                                <img class="img-responsive" ng-src="{{vm.showcaseProducts[i-2].imagelink}}" style="height:250px; margin:0 auto;"
                                    alt="{{vm.showcaseProducts[i-2].name}}" />
                            </a>
                        </div>
                        <div class="row">
                            <h5>
                                {{vm.showcaseProducts[i-2].description}}
                            </h5>
                        </div>

                    </div>
                    <div class="col-md-3 text-center">
                        <div class="row">
                            <h4>{{vm.showcaseProducts[i-3].name}}</h4>

                        </div>
                        <div class="row">
                            <a ng-href="/product?name={{vm.showcaseProducts[i-3].name}}">
                                <img class="img-responsive" ng-src="{{vm.showcaseProducts[i-3].imagelink}}" style="height:250px; margin:0 auto;"
                                    alt="{{vm.showcaseProducts[i-3].name}}" />
                            </a>
                        </div>
                        <div class="row">
                            <h5>
                                {{vm.showcaseProducts[i-3].description}}
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="row">
                            <h4>{{vm.showcaseProducts[i-4].name}}</h4>
                        </div>
                        <div class="row">
                            <a ng-href="/product?name={{vm.showcaseProducts[i-4].name}}">
                                <img class="img-responsive" ng-src="{{vm.showcaseProducts[i-4].imagelink}}" style="height:250px; margin:auto auto;"
                                    alt="{{vm.showcaseProducts[i-4].name}}" />
                            </a>
                        </div>
                        <div class="row">
                            <h5>
                                {{vm.showcaseProducts[i-4].description}}
                            </h5>
                        </div>
                    </div>

                </uib-slide>
            </uib-carousel>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2 pull-right">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.slidingDisabled"> Toggle Slide Show
                </label>
            </div>
        </div>
    </div>

</div>