/*
Look and Feel 
*/
.cloud-blue {
    color: dodgerblue
}

.gold-star{
    color: gold; 
    width: 25px; 
    font-size: 1.2em
}

.carousel-image{
    margin:auto !important;
    max-height: 200px !important; 
    min-height: 200px !important;
}

.product-grid-border{
    padding: 5px;
    border: 1px solid rgb(179, 179, 179);
}

.smallest-images{
    max-height: 45px !important;
}

/*
Layout
*/
.nav-padded{
    padding-top: 55px;
    padding-bottom: 55px;
}

.bottom-nav{
    overflow: hidden;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
    color: #000000 !important;
    margin: -50px !important;
}

.carousel-inner {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

/*
This is CSS from the avatar API site: https://api.adorable.io
*/
.avatar-image{
    -webkit-user-select: none;
    background-position: 0px 0px, 0px, 0px;
    background-size: 20px 20px;
    background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
    min-width: 500px;
    min-height: 500px;
    width:800px;
}
.avatar-main-container{
    padding-top: 15px;
}
.avatar-text{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}
